.calendar-date-row{
    display: grid;
    grid-template-rows: 2rem;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}
app-date-cell{
    display: flex;
    flex-direction: column;
}