.note{
    display: grid;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.note-title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selected{
    background-color: #262626;
}
.not-selected{
    border-bottom: 1px solid #262626;
}
.empty-list{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}