<div *ngIf="notes.length > 0">
    <div class="note-preview" *ngFor="let note of notes" [class.selected]="note['id'] == selectedNoteID" (click)="selectNote(note['id'])">
        <span *ngIf="!!note['color']" [ngStyle]="{'backgroundColor': colorPalette[note['color']] }"></span>
        <span *ngIf="!note['color']" [ngStyle]="{'backgroundColor': colorPalette['EMPTY'] }"></span>
        <span class="note" *ngIf="note['id'] == selectedNoteID">
            <span class="note-title">{{ selectedNoteTitle }}</span>
            <span class="note-content">{{ selectedNoteContent }}</span>
        </span>
        <span class="note" *ngIf="note['id'] != selectedNoteID">
            <span *ngIf="!note['title']" class="note-title">
                Untitled
            </span>
            <span *ngIf="note['title']" class="note-title">
                {{ note['title'] }}
            </span>
            <span *ngIf="!note['content']" class="note-content">
                No additional content
            </span>
            <span *ngIf="note['content']" class="note-content">
                {{ note['content'] }}
            </span>
        </span>
    </div>
</div>
<div *ngIf="notes.length == 0" class="empty-list">
    No Notes available
</div>