.note{
    display: grid;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.note-title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-separator{
    border-top: 1px solid orange;
    width: 100%;
}
.selected{
    background-color: orange;
}
.not-selected{
    border-bottom: 1px solid grey;
}