.view-edit{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 12fr minmax(0,3fr) 1fr 1fr;
}
.color-picker{
    display: flex;
}
.dot{
    display: flex;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.check-mark{
    color: white;
    font-size: 0.75rem;
}
.note-title{
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 2rem;
}
.note-title:focus{
    outline: none;
}
.note-content{
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 2rem;
}
.note-content:focus{
    outline: none;
}
.tags{
    padding: 0.5rem 0;
    overflow: scroll;
}
.tag{
    display: inline-block;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: orange;
    margin: 0.2rem 0.2rem;
}
.delete-tag{
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid white;
}