
<input type="text" style="color: blueviolet;" [formControl]="noteTitle">
<br>
<input type="text" style="color: blueviolet;" [formControl]="noteContent">
<br>
<div *ngFor="let color of availableColors">
    <span class="dot" [ngStyle]="{'backgroundColor': colorPalette[color] }" (click)="colorSelected(color)">
        <span *ngIf="pickedColor == color" class="check-mark">
            &#10003;
        </span>
    </span>
</div>

<button (click)="createNote()">Create Note</button>
<button (click)="deleteNote()">Delete Note</button>
