.color-picker{
    display: flex;
}
.check-mark{
    color: white;
    font-size: 0.75rem;
}
.note-title{
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 1.5rem;
}
.note-title:focus{
    outline: none;
}
.note-content{
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 1.5rem;
}
.note-tag{
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 1.5rem;
}
.note-tag:focus{
    outline: none;
}
.note-content:focus{
    outline: none;
}
.tags{
    padding: 0.5rem 0;
    overflow-y: scroll;
}
.tag{
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: orange;
    margin: 0.2rem 0.2rem;
}
.delete-tag{
    font-size: 1rem;
    cursor: pointer;
}
.note-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edited-time{
    font-size: 1rem;
    color: grey;
}
.delete-icon{
    color: #FC031C;
    cursor: pointer;
}
.disabled-delete-icon{
    color: grey;
    cursor: not-allowed;
}
.full-tag{
    display: inline-block;
}
.color-tag{
    font-size: 1.25rem;
    cursor: pointer;
}